extends layout

block content

  .lnd_invoice1
    h1 Invoice
    h2 Settled: #{invoice1.settled}
    p Payment request: #{invoice1.payment_request}
    p Amount: 1 satoshis

  .lnd_invoice2
    h1 Invoice
    h2 Settled: #{invoice2.settled}
    p Payment request: #{invoice2.payment_request}
    p Amount: 1 satoshis
