extends layout

block content

  .article
    .p1
    h1 #{title}
    h2 Overview
    p.
      Lendingblock is a London-based company that is seeking to deploy an exchange solution for participants that want the ability to borrow or lend against their existing portfolio.
      Lendingblock seeks to replicate and ‘improve upon’ the traditional methods of securities lending and apply it to cryptocurrency markets.

      Create a medium of exchange for secure lending and borrowing between market participants
      Be the first to decentralize the process so that borrowed assets can be used for any means as the participants see fit
      Allow lenders to receive interest payments for the pledging of assets on loan
      The company has produced several alpha-stage versions of the product and are seeking to release a functional MVP in the near-term.

    h2 Commercial & Technical Strategy
    p.
      The technical implementation of Lendingblock appears to be a combination of off-chain and on-chain processes. Initial user signup and screening is required followed by a 4-phase approach to borrowing and lending.

      Specification: completing profiles and details regarding anticipated lending/borrowing amounts, collateral requirements etc
      Initiation: implementation of the smart contract between matched parties
      Servicing/operation: payment and receipt of interest payments
      Finalisation: Repayment of initial capital and transfer of collateral back to borrowing party
      Lendingblock have devised several formulas to determine collateralization methods which appear to be sound from a theoretical point of view. These can be viewed at 3.3 of the whitepaper.

      From a commercial point of view, the platform appears to heavily target institutional participants as its main clientele.

      API access will be made available to institutions allowing them to integrate borrowing and lending services into their own operations.

      Lendingblock has also expressed a desire to integrate with several wallet providers, however, no information regarding specific wallets has been provided.

    h2 Roadmap
    p.
      A detailed roadmap has not been provided. The website and company material suggest that platform development will occur in Q2 2018 while commercial launch will be in Q3 2018.

    .p2
    h2 Token Sale
    p.
      Lendingblock will be issuing 1 billion tokens under the code LND.

      Private Sale — Only 5% of tokens have been allocated to ten institutions for private sale

      Presale — 40% of the tokens will be offered at Presale with a 20% discount

      Public Sale — During public sale, 10% of tokens will be offered for purchase

      Team & Advisors — Between the team, advisors, and employees, 25% of token will be held and vested

      Growth Fund — The remaining 15% of tokens are to be held in the growth fund for community incentive, partnerships and any other methods of increasing adoption of the platform.

    h2 Token Use
    p.
      The company advises that interest payments for loans paid by borrowers and received by lenders will be made using LND.

      As an example from the whitepaper, a loan of BTC secured by ETH collateral will result in lenders being paid LND by the borrower. Lenders can then use this earned LND to pay interest on loans of their own, or sell the LND in a secondary market to other borrowers.

      The valuation and pricing metrics of LND token are explained in section 8.1. of the whitepaper.

    h2 Use of Proceeds
    p.
      The Lendingblock team have provided a detailed overview of how funds raised will be used to create and deploy their solution to market. The use of funds indicates that the majority of capital will be utilized for development (50%). The remaining is split across operations, marketing and legal.

    .p3
    h2 Team
    p.
      The website and marketing material indicate that there are approximately seven team members across management, development, and operations.

      Steve Swain: Steven is CEO of Lendingblock. His past experience is almost exclusively banking and financial services having previously worked at UBS, Credit Suisse and Deloitte.

      Linda Wang: Linda is COO with experience in building lending applications. Linda has been in product development since 2014 and completed a Bachelor of Science at Cambridge.

      Luca Sbardella: Luca is the newly appointed CTO and was previously a software engineer and quant developer at several household names including Nomura and Investec.

    h2 Advisors
    p.
      There are ~six advisors currently listed within the whitepaper:

      Charlie Beach: Previously Chief Risk Officer at IG Markets

      Kingsley Advani: Data Scientist and active ICO investor

    h2 Strengths
    p.
      As the cryptocurrency market matures, traditional practices that are utilized in the equities markets are already making their way successfully into the ecosystem. As access to transparent margin trading and leverage is still in its early stages, it is our expectation that solutions such as LND will be welcomed by market participants that are seeking more complex trading and investment strategies.

      A competitor which launched last year (ETHLend) has now processed over 4000ETH worth of borrowing and lending. While in dollar value terms this figure is very small, (~$3.7m), the market has put a significant premium on the token with the market cap exceeding $400 million in January of this year. While this may be overvalued, it provides a good benchmark and indication of potential for Lendingblock.
      The choice to target institutional grade investors is smart and strategic. Focusing on entities that are established ‘volume players’ will mean that lending and transaction activity should be significantly higher.
      Deal structure of the offer is compelling. The choice to restrict ‘whales’ as well as target a fair max cap should be considered as an attractive feature for prospective investors.
      The team has sufficient experience in banking, financial services and more specifically, lending, to be able to execute from a commercial point of view.

    h2 Weaknesses
    p.
      While commercial experience of the team appears to be of a high level, we believe that the technical team may be lacking. Given the size of the project, it is assumed that on-boarding of new technical staff will likely occur post-fundraising.
      Astronaut does not usually place any substantial value on advisory boards, however, we believe that more personnel should have been added for promotional and awareness purposes (especially during token sale).
      Marketing allocation may be considered too low given the nature of the market and evolving competition.

      Want to download the full report? Click here to view

    .p4
    h2 Opportunities
    p.
      Providing API access for the platform may prove to be a large drawcard for institutions and innovate applications that are seeking to add a lending component to their product/service. While Lendingblock has not yet indicated any partnerships with wallet providers, we do see this as a large opportunity for integration in the future.

      It is likely that asset management firms that are holding significant amounts of cash/cryptocurrency may seek to lend or borrow to rebalance or restructure their portfolio. In essence, the Lendingblock platform could pave the way to more efficient margin trading, shorting of instruments and interest-based structured products.

    h2 Threats
    p.
      Lendingblock faces competition from Ethlend and Celsius Network. While this competition does exist, we believe that institutional targeting will likely allow LND to catch up quickly.
      Delay in the launch of the platform is a significant threat. With a lack of technical personnel, the team is targeting an ambitious Q2 development and Q3 launch. Our expectation is that this may be delayed if they are seeking to deploy a finished and polished product.
      Lack of marketing funds may lead to a lack of adoption. While Lendingblock is targeting a higher-grade of user, market awareness is a must.
      Marketing and awareness efforts for the presale and public sale have been quite low. Lack of community support may slow the token sale process, however, it is likely that an influx of participants will appear once the sale becomes active.

    h2 Conclusion
    p.
      Astronaut is attracted to the Lendingblock venture and believes that it if properly executed, the platform has the ability to be a substantial player in the institutional marketplace.

      For the reasons listed below, Astronaut is taking exposure to Lendingblock:

      The deal-structure is compelling with a small hard-cap and a limit on private sale dominance
      The institutional focus is a significant differentiator in the marketplace and will likely achieve much higher transactional volume than any competitors much faster
      While we do not agree with the current market valuation of ETHLend, it provides a very promising outlook for Lendingblock. With only 4000ETH put through the ETHLend as of February 2018, the market is placing a ~30x valuation on it based on a transactional multiple. If there is a strict focus on institutional users, Lendingblock should achieve far greater volumes much faster, leading to significant appreciation in market capitalization using the same metrics.
      While Astronaut is is very attracted to Lendingblock and its potential, we do acknowledge the need for more technical personnel in the team and further promotion/awareness for the purpose of public sale and ongoing market engagement.

      In light of the preceding, the Astronaut Investment Committee (IC) have agreed to take conservative exposure for the medium-term with the possibility of further investment during the presale and public sale phase of the ICO.

      On the 25th of February, Astronaut Capital (ASTRO) released a report stating that they have become an investor in Lendingblock (LND). You can view the full report here.
