body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.p1 {
    background: #fff
}

.p2 {
    background: #000
}

.p3 {
    background: #000
}

.p4 {
    background: #000
}