body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lnd_info{
    visibility: visible
}

.lnd_invoice{
    visibility: visible
}

.article_content {
    visibility: visible
}